services:
  overview-dashboard:
    image: "devopsteamsdb/devopsteamsdb:overviewdashboard"
    #image: "overview-dashboard:latest"
    container_name: "overview-dashboard"
    restart: unless-stopped
    ports:
      - "80:8080"
    volumes:
      - "/var/overview-dashboard/data:/app/Database"
